---
layout: page
title: Compare
permalink: /compare/
icon: info_outline
---
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<!-- Modernizr is used for flexbox fallback -->
		<script src="js/modernizr.custom.js"></script>
		<!-- Compare basket -->
		<div class="compare-basket">
			<button class="action action--button action--compare"><i class="fa fa-check"></i><span class="action__text">Compare</span></button>
		</div>
		<!-- Main view -->
		<div class="view">
			<!-- Blueprint header -->
			<header class="bp-header cf">
				<span>Blueprint <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<h1>Product Comparison Layout &amp; Effect</h1>
				<nav>
					<a href="http://tympanus.net/Blueprints/GridGallery/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
					<!--a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a-->
					<a href="http://tympanus.net/codrops/?p=24096" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
					<a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
				</nav>
			</header>
			<!-- Product grid -->
			<section class="grid">
				<!-- Products -->
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/1.png" alt="Product 1" />
						<h3 class="product__title">Chryseia</h3>
						<span class="product__year extra highlight">2011</span>
						<span class="product__region extra highlight">Douro</span>
						<span class="product__varietal extra highlight">Touriga Nacional</span>
						<span class="product__alcohol extra highlight">13%</span>
						<span class="product__price highlight">$55.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/2.png" alt="Product 2" />
						<h3 class="product__title">Meiomi Pinot Noir</h3>
						<span class="product__year extra highlight">2013</span>
						<span class="product__region extra highlight">California</span>
						<span class="product__varietal extra highlight">Pinot Noir</span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$19.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/10.png" alt="Product 3" />
						<h3 class="product__title">Antucura Cabernet Sauvignon</h3>
						<span class="product__year extra highlight">2013</span>
						<span class="product__region extra highlight">Argentina</span>
						<span class="product__varietal extra highlight">Cabernet Sauvignon </span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$15.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/4.png" alt="Product 4" />
						<h3 class="product__title">Leonetti Sangiovese</h3>
						<span class="product__year extra highlight">2012</span>
						<span class="product__region extra highlight">Washington</span>
						<span class="product__varietal extra highlight">Sangiovese</span>
						<span class="product__alcohol extra highlight">13%</span>
						<span class="product__price highlight">$85.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/5.png" alt="Product 5" />
						<h3 class="product__title">Chateau Pontet-Canet</h3>
						<span class="product__year extra highlight">2009</span>
						<span class="product__region extra highlight">Pauillac, Bordeaux</span>
						<span class="product__varietal extra highlight">Bordeaux </span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$269.00</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/6.png" alt="Product 6" />
						<h3 class="product__title">Quintessa</h3>
						<span class="product__year extra highlight">2011</span>
						<span class="product__region extra highlight">California</span>
						<span class="product__varietal extra highlight">Cabernet Sauvignon</span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$125.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/7.png" alt="Product 7" />
						<h3 class="product__title">Clarendon Hills Astralis</h3>
						<span class="product__year extra highlight">2006</span>
						<span class="product__region extra highlight">McLaren Vale</span>
						<span class="product__varietal extra highlight">Syrah, Shiraz</span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$153.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/8.png" alt="Product 8" />
						<h3 class="product__title">Lapostolle Clos Apalta</h3>
						<span class="product__year extra highlight">2010</span>
						<span class="product__region extra highlight">Chile</span>
						<span class="product__varietal extra highlight">Bordeaux</span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$82.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/9.png" alt="Product 9" />
						<h3 class="product__title">Bodega Colome Reserva</h3>
						<span class="product__year extra highlight">2009</span>
						<span class="product__region extra highlight">Argentina</span>
						<span class="product__varietal extra highlight">Malbec</span>
						<span class="product__alcohol extra highlight">13%</span>
						<span class="product__price highlight">$99.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/10.png" alt="Product 10" />
						<h3 class="product__title">Montevertine Le Pergole Torte</h3>
						<span class="product__year extra highlight">2011</span>
						<span class="product__region extra highlight">Tuscany</span>
						<span class="product__varietal extra highlight">Sangiovese </span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$119.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/2.png" alt="Product 11" />
						<h3 class="product__title">Massolino Vigna Parussi Barolo</h3>
						<span class="product__year extra highlight">2009</span>
						<span class="product__region extra highlight">Piedmont</span>
						<span class="product__varietal extra highlight">Nebbiolo</span>
						<span class="product__alcohol extra highlight">12%</span>
						<span class="product__price highlight">$169.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
				<div class="product">
					<div class="product__info">
						<img class="product__image" src="images/4.png" alt="Product 12" />
						<h3 class="product__title">Chateau Branaire-Ducru</h3>
						<span class="product__year extra highlight">2009</span>
						<span class="product__region extra highlight">St-Julien, Bordeaux</span>
						<span class="product__varietal extra highlight">Bordeaux</span>
						<span class="product__alcohol extra highlight">13%</span>
						<span class="product__price highlight">$99.90</span>
						<button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="action__text">Add to cart</span></button>
					</div>
					<label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">Add to compare</span></label>
				</div>
			</section>
		</div><!-- /view -->
		<!-- product compare wrapper -->
		<section class="compare">
			<button class="action action--close"><i class="fa fa-remove"></i><span class="action__text action__text--invisible">Close comparison overlay</span></button>
		</section>
		<script src="js/classie.js"></script>
		<script src="js/main.js"></script>
